doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title FouUrComfy Temporary Password
  body
    style.
      body{font-family:"malgun Gothic", "dotum", width:100%; font-size:12px;}
      body, div, p, ul, li, a{margin:0; padding:0; }
      p{line-height:150%;}
    div(style="width:100%; font-family:'malgun Gothic', 'dotum'; letter-spacing:-0.5px;")
      div(style='width:640px; margin:auto; border:1px solid #eee; ')
        div(style='width:640px; height:75px;  margin:auto; background:#FFF; ')
          div(style='float:left; margin-top:25px; margin-left:20px;')
            img(src='https://s3-us-west-1.amazonaws.com/forurcomfy/logo.png', width='120', height='')
          div(style='float:left; margin-top:35px; margin-left:20px; font-size:14px; font-weight:bold;')
            p ForUrComfy
          div(style='float:right; margin-top:35px; margin-right:20px; font-size:14px; font-weight:bold;')
            span(style='float:left; width:70px;') Get Fast
            span(style='float:left; width:20px;') |
            span(style='float:left;') Eat Fast
        div(style='width:640px; height:auto; margin:auto; background:#FFF;')
          div(style='Width:600px; background:#FFF; text-align:center; position:relative; color:#FFF; margin:auto; ')
            div(style='width:100%; height:150px; margin:auto; background:#fff; border:0px solid #bbb; text-align:center; border-bottom:1px solid #dbdbdb;')
              // hd1
              div(style='padding:5px 0px 0px 0px; margin:auto; font-size:19px; margin-top:20px; color:#000;')
                | Your 
                span(style='color:#30ad71; font-weight:bold; font-size:22px;') Temporary Password 
                | is
              // hd3
              div(style='padding:5px 0px; height:55px; margin:auto; width:580px; background:#FFF; text-align:left; font-size:15px; margin-top:20px; color:#000; border-top:1px solid #b9e7f0; border-bottom:1px solid #b9e7f0; color:#c3c2c2; ')
                div(style='text-align:center; margin-top:15px; width:100%;')
                  span(style='color:#7b7b7b;') Password 
                  span(style='color:#30ad71; font-weight:bold; padding-left:10px;') #{randomstring}
                  p
                    span(style='font-size:12px; color:#ff5420; font-weight:bold;')
                      | Please make sure to change your password after signing in with your temporary password.
          div(style='width:640px; margin:auto; background:#f7f7f7;')
            div(style='padding:20px 5px; text-align:center; line-height:150%;  font-size: 11px; background:#fff; ')
              p
                | This email is sent from an account we use for sending messages only. So if you want to contact us, don't reply to this email - we won't get your response.
              p
                | . Instead, mail to this address 
                span(style='color:#30ad71;') Support@forurcomfy.co.kr
                |  or leave your commnets on your app
              p Thanks.
            div(style='width:100% margin:auto; height:65px;  padding-top:10px; color:#808080; ')
              div(style=' width:580px; margin:auto; ')
                div(style='width:100px; padding:10px 0; margin:auto; ')
                  img(src='https://s3-us-west-1.amazonaws.com/forurcomfy/logo.png', width='100%')
            div(style='width:600px; margin:auto; height:65px; padding-top:55px;  color:#808080; ')
              div(style='float:left; width:600px;  text-align:center !important;  font-size:11px; line-height:150%; ')
                p 2018 ForUrComfy,Inc. ALL RIGHTS RESERVED
